<h1>New Event</h1>

<%= form_with scope: :event, url: events_path, local: true do |form| %>
  <p>
    <%= form.label :title %>:
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :date %>:
    <%= form.date_select :date %>
  </p>

  <p>
    <%= form.text_area :description, placeholder: 'Description' %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<p>Changed your mind? Go <%= link_to 'back to the game', root_path %>.</p>
